@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gym sports training</h1>
</div>

@model IEnumerable<Gym_sports_training.Models.Entities.TrainingSession>

@{
    ViewBag.Title = "Training sessions schedule";
}

<h2>Current training schedule</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Phone Number", "Index", new { sortOrder = ViewBag.PhoneSortParm })
        </th>
        <th>
            Coach
        </th>
        <th>
            @Html.ActionLink("Training start time", "Index", new { sortOrder = ViewBag.TrainingStartSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingTimeStart)
            </td>
        </tr>
    }

</table>
